.Details {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    border-radius: 2px;
    color: white;
    width: 120px;
    transition: all 1500ms;
}

.Details:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;   
}

.detailContent {
    display: flex;
    margin: auto;
    z-index: 99989;
    width: 700px;
    height: 400px;
    background-color: white;
    border: solid black 5px;
    overflow: hidden;
}

.detailContent h4 {
    color: black;
    display: block;
    margin-top: 5px;
    margin-right: 25px;
    font-size: 30px;
    cursor: pointer;
}
.detailContent div {
    width: 100%;
}
.detailContent h3 {
    font-size: 30px;
    top: 10px;
    bottom: 10px;
}

.detailContent img {
    height: 400px;
    top: 0;
    display: inline-block;
}



/* .detailContent p {
    color: black;
    width: 70%;
    height: 70%;
    margin: auto;
    border: dashed black 2px;
} */