.card {
    width: 400px;
    height: auto;
    background-color: #eceff0;
    margin: 20px;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
}
.card h4 {
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card p {
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 5px;
    margin: 8px;
}
.card img {
    width: 300px;
    height: auto;
    margin-top: 3px;
}

.addToCart {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    border-radius: 2px;
    color: white;
    width: 120px;
    transition: all 1s;
}

.addToCart:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;

}