.container {
    display: grid;
    justify-content: space-evenly;
}


.numero {
    color: black;
    font-size: 12px !important;
}

.ItemCount {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
}

